body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
  }
  #small {
    background-color: red;
  }
  
  #medium {
    background-color: green;
  }
  
  #large {
    background-color: blue;
  }
  
  
  
  @media (max-width: 300px) {
    #small, #medium, #large {
      width: 100%;
    }
  }
  
  @media (min-width: 301px) and (max-width: 768px) {
    body {
      border: 3px solid black;
      /* display:inline; */
      width:100%;
      
    }

    #small .box{
        width: calc(2/3 * 100%);
        height: 100px;
       
    }
    #medium {
      width: calc(1/3 * 100%);
      height:fit-content;
     
    }
  
    #large {
      height:fit-content;
      width: 100%;
    
    }
  }
  
  @media (min-width: 769px) {
    body {display:flex;
      flex-direction: row;
      width:100%;

    }
     #large {
      width: 100%;
      display: flex;
    }
  }